@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Poiret+One&display=swap');

.calendar-outer {
  font-family:'Lato';
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  opacity: 0;
  background-color: #f3e9d2;
}

.plant-names {background-color: #89c7e6e4;}

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 7rem;
  font-weight: 300;
}



.cal{
  font-family: 'Lato';
}

select option{
  background-color: #89c7e6e4;
  height: 200px;
}

button{
  background-color: #89c7e6e4;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.6);
  margin: 1rem;
  height: 3rem;
  border: none;
  width: 6rem;
}

.flex-row{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#plant-icon{
  height: 8rem;
}
select{
  height: 2rem;
  border-radius: 5px;
  font-weight: bold;

}
.properties-outer{
  
  font-family: 'Lato', sans-serif;
  position: fixed;
  text-align: center;
  background-color: #c6dabf;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.6);
  width: 25%;
  height: 30%;
  display: flex;
  padding:1rem;
  left: 3rem;
  top: 1rem;
  flex-direction: column;
  justify-content: space-around;
  
}



.plant-info-properties{
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.edit-properties{
  font-family: 'Lato', sans-serif;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.griddy {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(7, minmax(14.28%, 1fr));
}

.monthy {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}



.placeholder:hover {
  cursor: default;
}

.cellBlock.inactive:hover {
  background-color: #63aaede4;
}

.cellBlock:not(.placeholder):hover {
  cursor: pointer;
}

.cellBlock {
  display: flex;
  height: 100px;
  width: 1fr;
  padding: 1rem;
  aspect-ratio: "1/1";
  -webkit-aspect-ratio: "1/1";
  border: 1px solid black;
}

.cellBlock p {
  justify-content: flex-start;
  align-items: flex-start;
}

.yearClass {
  background-color:#c6dabf;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Lato';
  border-radius: 5px;
  font-size: 4rem;
  margin-bottom: 1em;
  text-align: center;
  font-weight: 400;
  
  
}

.monthClass {
  font-family: 'Lato';
  margin-bottom: 2rem;
  background-color: white;
  width: 60vw;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2),
    2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  font-size: 3rem;
  justify-self: center;
  align-self: center;
}

.monthClass .weekday {
  font-size: 1rem;
}

.text {
  font-size: 12px;
  margin: 0;
}

.large-text {
  font-size: 16px;
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.calendar-outer-edit{
  background-color: gray;
}

.bolded {
  font-weight: 600;
}

.active {
  background-color: rgb(132, 197, 149);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.plant-info-modal {
  opacity: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: none;
  font-family: "open sans";
  position: fixed;
  background-color: #114b5f;
  color: white;
  aspect-ratio: 4/3;
  padding-top: 370px;
  padding-right: 100px;
  padding-left: 100px;
  height: 500px;
  margin: 2rem;
  width: 30%;
  left: 1rem;
  opacity: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3),
    2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.plant-info-modal h1 {
  padding-top: 100px;
}

.plant-info-modal ul {
  list-style: none;
}

.plant-modal-close-out {
  right: 58%;
  position: fixed;
  top:  70px;
  cursor: pointer;
  height: 50px;
  color: white;
}

@keyframes plant-out {
  0% {
    opacity: 1;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: visible;
  }
}

.plant-image {
  margin: 2rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .cellBlock {
    display: flex;
    height: 1fr;
    width: 1fr;
  }
  .griddy {
    height: 100%;
    width: 100%;
  }
}



.calendar-outer-edit {
  background-color: gray;
}

@media only screen and (max-width: 414px) {
}
