.App {
  text-align: center;
}


.griddy {
  margin: 4rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.monthy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder:hover {
  cursor: default;
}



.cellBlock.inactive:hover {
  background-color: #63aaede4;
}

.cellBlock:not(.placeholder):hover {
  cursor: pointer;
}

.cellBlock {
  display: flex;
  width: 100px;
  height: 100px;
  padding: 1rem;
  justify-content: space-between;
  aspect-ratio: "1/1";
  -webkit-aspect-ratio: "1/1";
  border: 1px solid black;
}

.yearClass {
  width: 100%;
  text-align: center;
  font-size: 60px;
  margin-bottom: 1em;
}

.monthClass {
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2),
    2px 2px 2px 2px rgba(0, 0, 0, 0.2), 3px 3px 3px 3px rgba(0, 0, 0, 0.2),
    4px 4px 4px 4px rgba(0, 0, 0, 0.2);

  margin: 4rem;
  text-align: center;
  font-size: 40px;
}

.text {
  font-size: 12px;
  margin: 0;
}

.large-text {
  font-size: 16px;
}

.bolded { 
  font-weight: 600;
}

.active {
  background-color: rgb(132, 197, 149);
  width: 100px;
  height: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.plant-info-modal{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-family: 'open sans';
  position: fixed;
  background-color: rgb(71, 98, 71);
  color: white;
  aspect-ratio: 4/3;
  overflow-y: auto;
  padding: 4rem;
  height: 100%;
  max-width: 30%;
  opacity: 100%;
  border-radius: 5px;
  box-shadow: 
  1px 1px 1px 1px rgba(0,0,0,0.3),
  2px 2px 2px 2px rgba(0,0,0,0.3);
}

.plant-info-modal ul{
  list-style: none;
}

.plant-info-modal img {
  margin-bottom: 1rem;
}

.plant-modal-close-out{
  align-self: flex-end;
  justify-self: flex-start;
  cursor: pointer;
  height: 50px;
  color: white;
}

.plant-image{
  margin: 2rem;
}


